@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using WebMVC.Areas.Identity.ViewMedels
@model RegisterViewModel
@{
    ViewData["Title"] = "Đăng ký";
}

<div class="login-box">
    <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="bg-white p-4"
          data-role="validator"
          data-clear-invalid="5000"
          data-on-error-form="invalidForm">

        <img src="~/images/logo.png" class="place-right mt-3 mr-3">
        <h2 class="mb-0">@ViewData["Title"]</h2>
        <div class="text-muted mb-4">Đăng ký thành viên mới</div>
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <input asp-for="FullName" data-role="input" placeholder="Tên đầy đủ" data-append="<span class='mif-user'></span>" data-validate="required">
            <span class="invalid_feedback">Nhập tên đầy đủ</span>
        </div>
        <div class="form-group">
            <input asp-for="Email" data-role="input" placeholder="Thư điện tử" data-append="<span class='mif-envelop'></span>" data-validate="required">
            <span class="invalid_feedback">Phải nhập email</span>
        </div>
        <div class="form-group">
            <input asp-for="Password" type="password" data-role="input" placeholder="Mật khẩu" data-append="<span class='mif-key'></span>" data-validate="required">
            <span class="invalid_feedback">Mật khẩu phải có ký tự đặt biệt</span>

            <input asp-for="ConfirmPassword" type="password" data-role="input" class="mt-4" placeholder="Nhập lại mật khẩu" data-append="<span class='mif-checkmark'>" data-validate="required equals=password">
            <span class="invalid_feedback">Mật khẩu không khớp</span>
        </div>
        <div class="form-group d-flex flex-align-center flex-justify-between">
            <input type="checkbox" data-validate="required" data-role="checkbox" data-caption="Chấp nhận sử dụng <a href='#'>Dịch vụ</a>">
            
            <button type="submit" class="image-button flat-button">
                <span class="mif-enter icon"></span>
                <span class="caption">Đăng ký</span>
            </button>
        </div>
        <div class="text-center m-4 mt-5 mb-5">- HOẶC -</div>
        <div class="form-group border-top bd-default pt-2">
            <a asp-action="Login" asp-controller="Account">Tôi đã đăng ký</a>
        </div>
    </form>
</div>
@*@section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }*@
<script>
    function invalidForm() {
        var form = $(this);
        form.addClass("ani-ring");
        setTimeout(function () {
            form.removeClass("ani-ring");
        }, 1000);
    }</script>