@using Microsoft.AspNetCore.Identity
@using WebMVC.Areas.Identity.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <div class="app-bar-container">
        <a href="#" class="app-bar-item dropdown-toggle">
            @*<img src="~/images/user.jpg" class="avatar">*@
            <span class="app-bar-name">@UserManager.GetUserName(User)</span>
        </a>
        <div class="d-menu" data-role="dropdown">
            <div class="social-box">
                <div class="header bg-cyan fg-white">
                    <img src="~/images/user.jpg" class="avatar">
                    <div class="title">Group</div>
                    <div class="subtitle">job</div>
                </div>
                <ul class="skills">
                    <li>
                        <div class="text-bold">6</div>
                        <div>AWARDS</div>
                    </li>
                    <li>
                        <div class="text-bold">4</div>
                        <div>NOMINATIONS</div>
                    </li>
                    <li>
                        <div class="text-bold">36</div>
                        <div>FILMS</div>
                    </li>
                </ul>
            </div>
            
            <div class="bg-white d-flex flex-justify-between flex-equal-items p-2 bg-light">
                <a asp-area="Identity" asp-controller="Account" asp-action="Manager" class="button mr-1">Quản lý tài khoản</a>
                <form method="post" asp-area="Identity" asp-controller="Account" asp-action="Logout">
                    <button type="submit" class="button ml-1">Thoát</button>
                </form>
            </div>
        </div>
    </div>
}
else
{
    <div class="app-bar-container">
        <a asp-area="Identity" asp-controller="Account" asp-action="Register" class="app-bar-item"> Đăng ký</a>
        <a asp-area="Identity" asp-controller="Account" asp-action="Login" class="app-bar-item"> Đăng nhập</a>
    </div>
}

