<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@ViewData["Title"] - WebMVC</title>
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
   
</head>
<body class="h-vh-100">
    <div data-role="navview" data-toggle="#paneToggle" data-expanded="xl" data-compact="lg" data-active-state="true">
        <div class="navview-pane">
            <button class="pull-button">
                <span class="default-icon-menu"></span>
            </button>
            @await Html.PartialAsync("~/Views/Menu/_NavBarMenu.cshtml")
        </div>
        

        <div class="navview-content d-flex flex-align-center flex-justify-center h-100">
            @await Html.PartialAsync("~/Views/Menu/_AppBar.cshtml")
            <div class="container">
                @RenderBody()
            </div>
        </div>
    </div>
    
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - WebMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    @RenderSection("Scripts", required: false)
</body>
</html>
