@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    <ul class="app-bar-menu">
        <li>
            <a class="dropdown-toggle app-bar-item"><span class="mif-enter"></span> Enter</a>
        </li>
    </ul>
<div class="d-menu" data-role="dropdown"
     data-no-close="true">
    <div class="p-2">
        <form>
            <h4 class="text-light">Login to service...</h4>
            <div class="form-group">
                <input type="text" data-role="input"
                       data-prepend="<span class='mif-user'></span>">
            </div>
            <div class="input-control text">
                <span class="mif-lock prepend-icon"></span>
                <input type="password">
            </div>
            <label class="input-control checkbox small-check">
                <input type="checkbox">
                <span class="check"></span>
                <span class="caption">Remember me</span>
            </label>
            <div class="form-actions">
                <button class="button">Login</button>
                <button class="button link">Cancel</button>
            </div>
        </form>
    </div>
</div>