@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div data-role="appbar" class="pos-absolute bg-darkCyan fg-white">
    <div class="app-bar-container ml-auto">
        @await Html.PartialAsync("~/Areas/Admin/Views/Menu/_BagsMenu.cshtml")
        @await Html.PartialAsync("~/Areas/Admin/Views/Menu/_AccountMenu.cshtml")
    </div>
</div>