@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<ul class="navview-menu">
    <li>
        <a href="#">
            <span class="icon"><span class="mif-home"></span></span>
            <span class="caption">Home</span>
        </a>
    </li>

    <li class="item-separator"></li>

    <li class="item-header">Main pages</li>

    <li>
        <a href="#">
            <span class="icon"><span class="mif-apps"></span></span>
            <span class="caption">Apps</span>
        </a>
    </li>
    <li class="active">
        <a href="#">
            <span class="icon"><span class="mif-gamepad"></span></span>
            <span class="caption">Games</span>
        </a>
    </li>
    <li>
        <a href="#">
            <span class="icon"><span class="mif-envelop"></span></span>
            <span class="caption">Email</span>
            <div class="badges">
                <span class="badge inline">10</span>
                <span class="badge inline">5</span>
            </div>
        </a>
    </li>
    <li>
        <a href="#" class="dropdown-toggle">
            <span class="icon"><span class="mif-music"></span></span>
            <span class="caption">Music</span>
        </a>
        <ul class="navview-menu" data-role="dropdown">
            <li>
                <a href="#">
                    <span class="icon"><span class="mif-gamepad"></span></span>
                    <span class="caption">Games</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><span class="mif-film"></span></span>
                    <span class="caption">Movies</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="disabled">
        <a href="#">
            <span class="icon"><span class="mif-images"></span></span>
            <span class="caption">Images</span>
        </a>
    </li>

    <li class="item-separator"></li>

    <li>
        <a href="#">
            <span class="icon"><span class="mif-folder"></span></span>
            <span class="caption">Documents</span>
        </a>
    </li>
</ul>