@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div data-role="appbar"class="pos-absolute">
    <div class="app-bar-container ml-auto">
        @*@await Html.PartialAsync("~/Areas/Views/Menu/_AccountPartial.cshtml")*@
        <partial name="_AccountPartial" />
    </div>
</div>